
.btn{
    background: #c9a6e6;
    background-image: -webkit-linear-gradient(top, #c9a6e6, #e6d281);
    background-image: -moz-linear-gradient(top, #c9a6e6, #e6d281);
    background-image: -ms-linear-gradient(top, #c9a6e6, #e6d281);
    background-image: -o-linear-gradient(top, #c9a6e6, #e6d281);
    background-image: linear-gradient(to bottom, #c9a6e6, #e6d281);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover {
    background: #3c93fc;
    background-image: -webkit-linear-gradient(top, #3c93fc, #561a8f);
    background-image: -moz-linear-gradient(top, #3c93fc, #561a8f);
    background-image: -ms-linear-gradient(top, #3c93fc, #561a8f);
    background-image: -o-linear-gradient(top, #3c93fc, #561a8f);
    background-image: linear-gradient(to bottom, #3c93fc, #561a8f);
    text-decoration: none;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    padding: 14px 16px; 
}
body{
    font-family: Poppins;
    text-align: justify;
    background-image: url("resource/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    padding: 10px;
    position: relative;
    left: 30px;
}

h1{
    font-family: Zombie;
    font-size: xx-large;
    text-align: center;
    color:pink;
    text-shadow: 2px 2px red;
}
.SailorGuardiansIMG{
    width: 400px;
    float: ;
}
footer{
    font-size: 8px;
    line-height: 20px;
    background-color: aquamarine;
    float: right;
}

